

.listening-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 1557px) {
  .listening-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1127px) {
  .listening-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}